# ⚠️ 
Flask==1.1.2 # CVE-2023-30861 (Session Cookie Vulnerability)
requests==2.25.0 # CVE-2023-32681 (Header Leakage)
pyyaml==5.3.1 # CVE-2020-14343 (Arbitrary Code Execution)
cryptography==3.4.6 # CVE-2023-23931 (Memory Corruption)
Werkzeug==1.0.1 # CVE-2023-25577 (Multipart Parser DoS)
